.product-card {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1rem rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
    margin: 10px;
}

.product-card img{
    width: 200px;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}